.add_new {
  height: 36px;
  padding: 8px 16px 8px 16px;
  color: white;
  background-color: rgba(68, 78, 170, 1);
  border-radius: 4px;
  font-size: 14px;
}

.add_new:hover {
  background-color: rgba(68, 78, 170, 0.9);
  cursor: pointer;
}

.material_div {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
}

.material_list_container {
  padding: 12px;
  background: white;
  border-radius: 8px;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
