:root {
  --border-color: rgba(212, 212, 212, 1); /* Tailwind's gray-300 */
}

.count_button {
  height: 48px;
  width: 48px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.left_button {
  display: flex;
  width: 48px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 4px 0 0 4px;
  border-left: 1px solid var(--border-color);
}

.right_button {
  display: flex;
  width: 48px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 0 4px 4px 0;
  border-right: 1px solid var(--border-color);
}

.center_text {
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  text-align: center;
  /* height: 48px; */
}

.center_text_invalid {
  border-top: 1px solid rgba(193, 154, 77, 1);
  border-left: 1px solid rgba(193, 154, 77, 1);
  border-right: 1px solid rgba(193, 154, 77, 1);
  background: #faf2e3;
}

.center_text_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  font-size: 20px;
  height: 32px;
  font-family: "Chivo Mono", monospace;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  background: var(--Inner-Color, #fff);
}

.center_text_inventory {
  display: flex;
  padding: 4px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  font-size: 12px;
  height: 16px;
  color: rgba(128, 128, 128, 1);

  border: 1px solid var(--Stroke-Color, #d4d4d4);
  background: var(--Indicator-Color, #f2f2f2);
  font-family: "Chivo Mono", monospace;

  /* z-index: 11; */
}

.center_text_inventory_invalid {
  background: rgba(193, 154, 77, 1);
  color: rgba(250, 250, 250, 1);
  border: none;
  border-bottom: 1px solid rgba(193, 154, 77, 1);
  border-top: 1px solid rgba(193, 154, 77, 1);
}

.product_image_container {
  height: 48;
  width: 48;
  border: 1px solid rgba(212, 212, 212, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
}
