@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(242, 242, 242));
  color: var(--foreground);
  font-family: var(--font-uncut-sans), Arial, Helvetica, sans-serif;
}
